body {
    font-family: Arial, sans-serif;
}
.weather-container {
    position: relative;
    width: 400px;
    height: 320px;
    background-color: #b3b3b3; 
    margin: 0 auto;
    z-index: 0;
}

.main-display {
    position: absolute;
    top: 20px;
    left: 60px;
    bottom: 80px;
    right: 130px;
    padding: 20px;
    background-color: #000; 
    z-index: 1;
    color: #c4c4c4;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}
.arrows {
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 2;
    box-shadow: 0px 0px 2px rgb(42, 42, 42);
}

.arrows button  {
    border: none;
    text-align: center;
    padding: 0 4px;
    font-family: Calibri, light;
    font-size: 35px;
    background: rgba(139, 139, 139, 0.621);
    cursor: pointer;
}
.arrows button:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #999;
}
.arrows button:active {
  transform: scale(0.95);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.4);
}
.main-temperature {
    position: absolute;
    top: 110px;
    left: 10px;
    font-size: 60px;
    font-family: Sans Serif Collection;
    font-weight: bold;
    opacity: 0.7;
}
.weather-icon {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 230px;
    z-index: 0;
    filter: drop-shadow(5px 5px 15px #373737);
}
.forecast-display {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 200px;
    height: 100px;
    background: hsla(0, 0%, 84%, 0.32);
    box-shadow: 5px 5px #6a6a6a;
    padding: 10px;
}
.display-list {
    list-style: none;
    padding-left: 5px;
    margin-top: 50px;
}
.display-list::after {
    content: '';
    display: table;
    clear: both;
}
.display-item {
    float: left;
    width: 20%;
    text-align: center;
}
.display-list li .day {
    color: #999;
    display: block;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 600;
}
.display-list li .temp {
    font-size: 16px;
    display: block;
    font-family: Sans Serif Collection;
}