body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    width: 500px; 
    height: 180px;
    margin: 50px auto; 
}
.block-format {
    position: absolute;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border: 1px solid black;
}
.left-top-block {
    background-color: #556dcd;
    color: rgb(255, 255, 255);
    top: 48px;
    left: 45px;
}
.right-top-block {
    background-color: #58e161;
    top: 48px;
    top: 48px;
    right: 45px;
}
.left-bottom-block {
    background-color: #58e161;
    bottom: 40px;
    left: 45px;
}
.right-bottom-block {
    background-color: #556dcd;
    color: rgb(255, 255, 255);
    bottom: 40px;
    right: 45px;
}