.container {
  position: relative;
  width: 450px; 
  height: 200px;
  margin: 300px auto; 
}
.block {
  background-color: #6eb772; 
  cursor: pointer; 
  position: absolute;
  width: 170px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}
.first-hover-block {
  left: 10px;
}
.second-hover-block {
  right: 20px; 
}
.popup {
  background-color: #5b9fd7; 
  color: white;
  padding: 30px;
  width: 150px;
  height: 170px; 
  text-align: center;

  opacity: 0;
  position: absolute; 
}
.popup-first {
    top: -70px;
    left: 240px;
    bottom: 80%;
    transform: translateY(-50%);
}
.popup-second {
    right: -200px;
    bottom: 22%;
    transform: translateY(-50%);
}
.first-hover-block:hover + .popup-first {
  opacity: 1;
}
.second-hover-block:hover + .popup-second {
  opacity: 1;
}