* {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 40 px;
}
p {
    color: #077020;
    text-align: center;
}
div {
    text-align: justify;
}
.red-text {
  color: rgb(255, 0, 0);
}
.white_space {
    white-space: nowrap;
}
#id {
    font-style: italic;
    font-weight: bold;
}
.text-shadow {
    text-shadow: 5px -5px 3px rgb(221, 85, 85);
}
.text-format {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}
.text-spacing {
    letter-spacing: 30px;
    word-spacing: 50px;
}